<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Database vini</title>
</head>
<body>
    
    <h1>Database vini</h1>
    <br>
    <nav class="navbar">
        <ul class="nav-links">
            <li><a href="index.html">Home</a></li>
            <li><a href="../templates/vini/list.html">Elenco vini</a></li>
            <li><a href="#">Aggiungi vino</a></li>
        </ul>
    </nav>
    <img src="../static/vino-rosso.webp" alt="Logo del mio sito">
</body>
</html>
