* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: gray;
}
h1{
    color: black;
    text-align: center;
    font-style: italic;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 1rem 2rem;
    color: white;
}
.nav-links li {
    margin-left: 16.5rem;
}

.nav-links a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #4CAF50;
}
.nav-links {
    display: flex;
    list-style: none; 
}

.tabella-container {
    margin: 20px auto;
    width: 90%;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    box-shadow: 0 2px 3px rgba(0,0,0,0.1);
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f8f9fa;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #e9e9e9;
}


.modifica {
    background-color: #ffc107;
    color: white;
    border: none;
    padding: 8px 12px;
    margin-right: 5px;
    border-radius: 4px;
    cursor: pointer;
}

.elimina {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; /* Larghezza opzionale */
}
@media (max-width: 768px) {
    .scorta, .costo-unitario {
        display: none;
    }
}



